    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" style="font-size: 2rem;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form" id="new-post-form">
          <div class="modal-body">
              <div class="form-group">
                <label for="post-location" class="col-form-label">Location:</label>
                <input class="form-control" id="post-location"/>
                <small class="form-text text-muted">Enter the location.</small>
              </div>

    {{!-- <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp" placeholder="Password">
      <small id="passwordHelp" class="form-text text-muted">Enter your secure password.</small>
    </div> --}}

              <div class="form-group">
                <label for="post-specific-location" class="col-form-label" maxlength="100">Specific Location:</label>
                <input type="text" class="form-control" id="post-specific-location">
                <small class="form-text text-muted">Where did this specifically happen?</small>
              </div>
              <div class="form-group">
                <label for="post-img" class="col-form-label" maxlength="300">Image:</label>
                <input type="text" class="form-control" id="post-img">
                <small class="form-text text-muted">Please include a valid image link - good to have a visual!</small>
              </div>
              <div class="form-group">
                <label for="post-title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="post-title" maxlength="45">
                <small class="form-text text-muted">Give your post a title.</small>
              </div>
              <div class="form-group">
                <label for="post-body" class="col-form-label">Body:</label>
                <textarea class="form-control" id="post-body" maxlength="5000"></textarea>
                <small class="form-text text-muted">Describe what you saw/what happened!</small>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="createPostBtn" type="submit" class="btn btn-primary">Create Post</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
 <script src="/js/newPost.js"></script>