<div class="container">
    <a href="/post/{{id}}">
        <div class="row">
            <img src="{{image_link}}" alt="image">
            <h2>{{title}}</h2>
            <p>{{body}}</p>
        </div>
    </a>
</div>