<div class="container" style="height: 90%; overflow-y: scroll;">
    <h2>All Cities</h2>
    <ul style="list-style: circle;">
    {{#each locations as |location|}}
        <li><a href="/allcities/{{location.id}}" class="text-color cityhover">{{location.name}}</a></li>
    {{/each}}
    </ul>
</div>