<div class="container-full">
  {{!-- All user's posts --}}
  {{#each user.posts}}
    {{!-- We must also render an edit button here --}}
    {{> post}}
  {{/each}}

  {{!-- New Post modal button --}}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal" data-whatever="@getbootstrap">New Post</button>

<script src="/js/dashboard.js"></script>