<h1>this is main page</h1>
<p>All main functionality will be here</p>
<ul>
  <li>Searching Location</li>
  <li>Map</li>
  <li>Viewing list of posts</li>
  <li>Single post on a popup</li>
  <li>Make comment on that post</li>
</ul>
<p>This will simplify our app and prevent us from having 232349872498 pages</p>