{{!-- <h1>this is main page</h1>
<p>All main functionality will be here</p>
<ul>
  <li>Searching Location</li>
  <li>Map</li>
  <li>Viewing list of posts</li>
  <li>Single post on a popup</li>
  <li>Make comment on that post</li>
</ul>
<p>This will simplify our app and prevent us from having 232349872498 pages</p> --}}


<div id="mainContentRow" class="row">
    <div id="searchDiv" class="col-xs-11 col-sm-3 h-xs-20">
      <h1>Search for a location!</h1>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div id="contentDiv" class="col-xs-11 col-sm-8">
      <h1>Locations go here</h1>
    </div>
</div>
