<div class="container-full">
  <div class="jumbotron d-flex justify-content-center flex-column align-items-center">
    <img src="/assets/images/haunted-grey.png" style="max-width: 250px;">
    <h1 class="display-4">Welcome to Haunted!</h1>
    <p class="lead">Let's add some extra stuff to this to make it look good.</p>
    <p>Information about the site</p>
    <p class="lead">
      <a class="btn btn-lg btn-outline-secondary" href="/main" role="button">Get Started</a>
    </p>
  </div>
</div>