/* We are stealing the color scheme from Google's Dark Mode */
:root {
  --main: rgb(32, 33, 36);
  --secondary: rgb(48, 49, 52);
  --text: rgb(154, 160, 166);
}

* {
  color: var(--text);
}

body {
  background: var(--main);
  height: 100vh;
}

.navbar {
  background: var(--secondary);
  height: 10%;
  box-shadow: 0 0 5px black;
  min-height: 70px;
}

#searchDiv {
  background: var(--secondary);
}

#mainContentRow {
  height: 90%;
  min-height: 500px;
  max-width: 1000px;
}

#searchDiv,
#contentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#contentDiv {
  overflow-y: scroll;
}

@media screen and (max-width: 575px) {
  #searchDiv {
    max-height: 150px;
  }
  .navbar {
    height: auto;
    min-height: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    height: auto;
  }
}